body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Contenedor de las cards */
.wrapper {
  display: flex;
  flex-wrap: wrap;
}

/* Card css  */
.container {
  padding: 2px 16px;
}

.card {
  margin: 1em 0.5em 0 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 350px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.libropage {
  margin: 0.4em;
}

/* Elementos del formulario */
input[type="search"] {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 0;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 0;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 0;
  box-sizing: border-box;
}
.controlgroup {
  margin-top: 0.5em;
}
.bookform {
  width: 20em;
  padding: 1em;
}
.error {
  color: red;
}
